<div style="margin: 50px">
  <app-cat
    [body]="body.value"
    [mouth]="mouth.value"
    [eye]="eye.value"
    [ear]="ear.value"
    [eyeShape]="eyeShape.value"
    [decorationShape]="decorationShape.value"
    [pattern1]="pattern1.value"
    [pattern2]="pattern2.value"
    [animate]="animate.value"
  ></app-cat>
</div>

<br />
<br />
<br />
<form [formGroup]="catForm">
  <div>
    <p>head and body - {{ body.value }}</p>
    <input type="range" min="10" max="98" formControlName="body" />
  </div>

  <div>
    <p>mouth and belly and tail - {{ mouth.value }}</p>
    <input type="range" min="10" max="98" formControlName="mouth" />
  </div>

  <div>
    <p>eyes - {{ eye.value }}</p>
    <input type="range" min="10" max="98" formControlName="eye" />
  </div>

  <div>
    <p>ears and paw - {{ ear.value }}</p>
    <input type="range" min="10" max="98" formControlName="ear" />
  </div>

  <div>
    <p>Eyes Shape - {{ eyeShape.value }}</p>
    <input type="range" min="0" max="2" formControlName="eyeShape" />
  </div>

  <div>
    <p>Decoration Shape - {{ decorationShape.value }}</p>
    <input type="range" min="0" max="3" formControlName="decorationShape" />
  </div>

  <div>
    <p>Pattern1 - {{ pattern1.value }}</p>
    <input type="range" min="10" max="99" formControlName="pattern1" />
  </div>

  <div>
    <p>Pattern2 - {{ pattern2.value }}</p>
    <input type="range" min="10" max="99" formControlName="pattern2" />
  </div>

  <div>
    <p>Animate - {{ animate.value }}</p>
    <input type="range" min="0" max="5" formControlName="animate" />
  </div>
</form>

<div>
  <span>DNA </span>
  <span>{{ body.value }} </span>
  <span>{{ mouth.value }} </span>
  <span>{{ eye.value }} </span>
  <span>{{ ear.value }} </span>
  <span> | </span>
  <span>{{ eyeShape.value }} </span>
  <span>{{ decorationShape.value }} </span>
  <span>{{ pattern1.value }} </span>
  <span>{{ pattern2.value }} </span>
  <span>{{ animate.value }} </span>
</div>

<button (click)="createKitty(dna)">Create Kitty Gen 0</button>
