<div class="cat">

    <!-- Cat Face -->
    <div class="cat__face">
        
        <!-- Cat Eyes -->
        <div [class]="'cat__eye eye-' + i" *ngFor="let _ of [null, null]; let i = index">
            <span class="cat__eye-pupils"></span>
        </div>

        <!-- Cat Ears -->
        <div [class]="'cat__ear ear-' + i" *ngFor="let _ of [null, null]; let i = index">
            <span class="cat__ear-pupils"></span>
        </div>

        <!-- Cat Nose -->
        <div class="cat__nose"></div>

        <!-- Cat Mouse -->
        <div class="cat__mouse">
            <span class="cat__mouse-pupils" *ngFor="let _ of [null, null]"></span>
        </div>
    </div>
</div>